<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <style>
        .btn{
          text-decoration: none;
          font-size:1;
          color:black;
          margin:5px;
          padding:5px 5px 5px 5px;
          display:inline-block;
          border-radius: 1px;
          background-color: lightgray;
          border-color: black;
          transition:all 0.1s;
          }
    </style>
    <div style="float:right">
    <%=row.stu_name%>님 환영합니다~
    <form action="https://google.com" method "get" style="display:inline"><button type='submit' class='.btn'>개인정보</button></form>
    <form action="/index/logout" method ="post" style="display:inline"><button type='submit' class='.btn'>로그인</button></form>
    </div>
    <br>
    <br>
    <table style="border-collapse : collapse; background-color:rgb(115, 35, 46); width: 100%">
        <tr>
            <td><a href="/index" style="text-decoration:none; text-align:center"><img src="/Kwangwoon_mark_1.jpg" width=121 height=40></a></td>
            <td><a href="/grade/total_grade" style="text-decoration:none; color: white" >학습결과</a></td>
            <td><a href="/timetable" style="text-decoration:none; color: white">시간표</a></td>
            <td><a href="/index/enroll" style="text-decoration:none; color: white">수강신청</a></td>
            <td><a href="/board/list/1" style="text-decoration:none; color: white">공지사항</a></td>
            <td><a href="/friend" style="text-decoration:none; color: white">친구 목록</a></td>
        </tr>
    </table>
    <h1><%= title%></h1>
    <br>
    <br>
    <form>
        <select onchange="if(this.value) location.href=(this.value);">
            <option value="none">선택</option>
            <%
        for(var i=0; i<lecs.length; i++)
        {
            var oneItem = lecs[i];
        %>
            <option value="/board/list/<%=oneItem.lec_num%>"><%=oneItem.lec_num%></option>
            <%
            }
        %>


        </select>
    
    </form>
    <table border="1">
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>조회수</td>
        </tr>
        <%
        for(var i=0; i<contents.length; i++)
        {
            var oneItem1 = contents[i];
        %>
        <tr>
            <td>
                <%
                if(oneItem1.star==1)
                {
                %>
                    <img src="/star.jpg" width=20 height=20>
                <%
                }
                %>
                <%
                if(oneItem1.star==0)
                {
                %>
                    <%=i+1%>
                <%    
                }
                %>
                </td>
            <td><a href="/board/read/<%=oneItem1.idx%>"><%=oneItem1.title%></a></td>
            <td><%=oneItem1.writer%></td>
            <td><%=oneItem1.write_date%></td>
            <td><%=oneItem1.hit%></td>
        </tr>
        <%
        }
        %>
    </table>
</body>

</html>