<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<table border="1">
    <tr>
        <td>학번</td>
        <td>이름</td>
        <td>전공</td>
    </tr>
    <tr>
        <td><%=rows.stu_id%></td>
        <td><%=rows.stu_name%></td>
        <td><%=rows.major%></a></td>
    </tr>
</table>

</body>
</html>