<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<style>
    .btn{
      text-decoration: none;
      font-size:1;
      color:black;
      margin:5px;
      padding:5px 5px 5px 5px;
      display:inline;
      border-radius: 1px;
      background-color: lightgray;
      border-color: black;
      transition:all 0.1s;
      white-space: nowrap;
      }
</style>
<br>
<div style="float:right;">
<%=row.stu_name%>님 환영합니다~
<form action="https://google.com" method "get" style="display:inline"><button type='submit' class='.btn'>개인정보</button></form>
<form action="/index/logout" method ="post" style="display:inline"><button type='submit' class='.btn'>로그아웃</button></form>
<br>
</div>
<center>
    <table style="border-collapse : collapse; background-color:rgb(115, 35, 46); width: 100%">
        <tr>
            <td><a href="/index" style="text-decoration:none; text-align:center"><img src="/Kwangwoon_mark_1.jpg" width=121 height=40></a></td>
            <td><a href="/grade/total_grade" style="text-decoration:none; color: white">학습결과</a></td>
            <td><a href="/timetable" style="text-decoration:none; color: white">시간표</a></td>
            <td><a href="/index/enroll" style="text-decoration:none; color: white">수강신청</a></td>
            <td><a href="/board/list/1" style="text-decoration:none; color: white">공지사항</a></td>
            <td><a href="/friend" style="text-decoration:none; color: white">친구 목록</a></td>
        </tr>
    </table>
<br>
<form>
    <select onchange="if(this.value) location.href=(this.value);">
        <option value="none">나의 시간표</option>
<%
    for(var i=0; i<loc.length; i++)
    {
        var oneItem = loc[i];
%>

        <option value="/timetable/location/<%=oneItem.location%>"><%=oneItem.location%>시간표</option>
        <%
        }
    %>
    </select>
</form>
<br>
<h1> My Timetable </h1>
<table style = "border-collapse : collapse; width: 90%;" border="1">
    <tr>
        <td width="20px" align="center"></td>
        <td width="150px" align="center">MON</td>
        <td width="150px" align="center">TUE</td>
        <td width="150px" align="center">WEN</td>
        <td width="150px" align="center">THU</td>
        <td width="150px" align="center">FRI</td>
    </tr>
<%
    var index = 0;
    for(var i = 0; i < 6; i++) {
        index = i + 1;
%>
    <tr>
        <td align="center"><%=index%></td>
<%
        for(var j = 0; j < 5; j++) {
%>
        <td width="150px" height="80px"><h5><a href="/board/list/<%=lec_num[i][j]%>" style="text-decoration:none; color: black;"><%=lec_name[i][j]%></a></h5>
            <h6><a href="/timetable/professor/<%=lec_num[i][j]%>"><%=professor[i][j]%></a><%=location[i][j]%></h6></td>
<%
        }
%>
    </tr>
<%
    }
%>
</table>
</center>
</body>
</html>
